* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div-head {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: #ce0e6e;
}

.section-head {
    color:rgb(255, 255, 255);

}

.section-head2{
    color: #1fa1b3;
}