* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div-head {
    display: flex;
    justify-content: center;
    align-items:center ;
    width: 100%;
    height: 150px;
    background-color:rgb(80, 141, 211);
}

.section-head {
    color: rgb(255, 255, 255);
}

.section-head2 {
    color: rgb(177, 118, 118);
}