.div-head {
    display: flex;
    justify-content: center;
    align-items:center ;
    width: 100%;
    height: 150px;
    background-color:rgb(109, 190, 134);
}

.section-head {
    color: rgb(255, 255, 255);
}

.section-head2 {
    color: rgb(89, 61, 216);
}