* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div-head {
    display: flex;
    justify-content: center;
    align-items:center ;
    width: 100%;
    height: 150px;
    background-color:rgb(96, 74, 177);
}

.section-head {
    color: rgb(209, 132, 132);
}

.section-head2 {
    color: rgb(122, 192, 169);
}