<<<<<<< HEAD
=======
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

>>>>>>> 5fac9e50a66d72ae79fe371dd430758b8379a969
.div-head {
    display: flex;
    justify-content: center;
    align-items:center ;
    width: 100%;
    height: 150px;
<<<<<<< HEAD
    background-color:rgb(109, 190, 134);
=======
    background-color:brown;
>>>>>>> 5fac9e50a66d72ae79fe371dd430758b8379a969
}

.section-head {
    color: rgb(255, 255, 255);
}

.section-head2 {
<<<<<<< HEAD
    color: rgb(89, 61, 216);
=======
    color: brown;
>>>>>>> 5fac9e50a66d72ae79fe371dd430758b8379a969
}